{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ object.image.url }}" class="img-fluid " alt="">
            </div>
            <div class="col-md-8">
                <h2>{{ object.title }}</h2>
                <h5>{{ object.year_of_production|date:'F jS Y' }}</h5>
                <p>{{ object.description }}</p>
                <p><a href="#">{{ object.cast }}</a></p>
                <h4>{{ object.views_count }} views</h4>
            </div>
        </div>
    </div>
{% endblock content %}
    
