{% extends 'base.html' %}
{% block content %}
<div class="container">

    <h2>Responsive Embed</h2>
    <p>Create a responsive video and scale it nicely to the parent element with an 16:9 aspect ratio</p>
    <div class="embed-responsive embed-responsive-16by9 mb-5">
      <iframe class="embed-responsive-item" src="{{ object.movie_trailer }}"></iframe>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img src="{{ object.image.url }}" class="img-fluid " alt="">
        </div>
        <div class="col-md-8">
            <h2>{{ object.title }}</h2>
            <h5>{{ object.year_of_production|date:'F jS Y' }}</h5>
            <p>{{ object.description|safe }}</p>
            <p><a href="#">{{ object.cast }}</a></p>
            <h4>{{ object.views_count }} views</h4>
        </div>
    </div>
    <!-- links -->
    <div>
        <h2>Links</h2>
        <ul class="links">
            <li><a>Download Link:</a></li>
            {% for link in links %}
                {% if link.link_type == 'D' %}
                    <li><a href="{{ link.link }}">link{{ forloop.counter }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

        <ul class="links">
            <li><a>Watch Link:</a></li>
            {% for link in links %}
            
                {% if link.link_type == 'W' %}
                    <li><a href="{{ link.link }}">link{{ forloop.counter }}</a></li>
                {% endif %}

            {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}
    
